:root {
  --green: #56bc8a;
  --grey: #2d383f;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;

  min-height: 100%;

  display: flex;
  flex-direction: column;
}

/* Navigation bar styles START */

header {
  text-align: center;
  position: static;
  background: white;
  z-index: 10;
  width: 100%;
  height: 124px;
}

/* .logo {
  width: 380px;
} */

.logo {
  margin: 0;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 64;
  color: var(--grey);
  white-space: nowrap;
}

nav {
  position: absolute;
  background: white;
  text-align: center;
  z-index: 10;
  padding-bottom: 6px;
  padding-top: 6px;
  top: 130px;
  left: 0;
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--grey);
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {

}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 100;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2em;
  height: inherit;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--grey);
  height: 3px;
  width: 2em;
  border-radius: 3px;
  position: relative;
}

.nav-toggle-label:hover {
  cursor: pointer;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 9px;
}

.nav-toggle-label span::after {
  top: 9px;
}

.hor-line::after {
  content: '';
  display: block;
  background: var(--green);
  height: 3px;
  width: 85%;
  top: 6px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (min-width: 1320px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: .2fr auto minmax(600px, 3fr) .2fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    /* unset styles */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    font-size: 1.4em;
    opacity: 1;
    position: relative;
  }

  nav a::after {
    content: '';
    display: block;
    height: 3px;
    background: var(--green);
    position: absolute;
    left: 10%;
    right: 10%;
    top: 1.6em;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::after {
    transform: scale(1,1);
  }

  /* nav span {
    transform: scale(0);
  } */

  .hor-line {
    grid-column: 1/5;
    grid-row: 2/2;
  }

  .ver-line {
    content: '';
    display: block;
    background: var(--green);
    height: 40px;
    width: 3px;
    top: 0px;
    left: 1.45em;
    position: relative;
  }
}

@media screen and (min-width: 1400px) {
  nav a {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1500px) {
  nav a {
    font-size: 1.8rem;
  }
}

/* Nav bar styles END */

/* Main styles START */

main {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
  width: 85%;
}

.home-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* Home styles */
.home-photo {
  width: 500px;
  display: block;
  position: relative;
  box-shadow: 3px 3px 6px var(--grey);
}

.agency-contact {
  position: relative;
  text-align: center;
}

.agency-contact h1 {
  margin: 0;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 116px;
  color: var(--grey);
  white-space: nowrap;
}

.agency-contact p {
  font-size: 34px;
  line-height: 1.4em;
  color: var(--grey);
}

/* Headshots styles */
.headshots-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 20px;
  justify-content: center;
}

.headshot-photo {
  width: 350px;
  display: block;
  position: relative;
  box-shadow: 3px 3px 6px var(--grey);
  transition: 0.3s;
}

.headshot-photo:hover {
  cursor: pointer;
  opacity: .85;
}

/* Portfolio styles */
/* OLD STYLES */
/* .portfolio-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 550px);
  grid-gap: 70px;
  justify-content: center;
} */

/* .portfolio-photo {
  width: 550px;
  height: 750px;
  object-fit: cover;
  display: block;
  position: relative;
  box-shadow: 3px 3px 6px var(--grey);
  transition: 0.3s;
} */

/* .portfolio-photo:hover {
  cursor: pointer;
  opacity: .85;
} */

/* Portfolio styles */
.portfolio-carousel {
  position: relative;
  height: 1050px;
  max-height: 110vh;
  margin: 0 auto;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  position: relative;
  height: 100%;
  transition: transform 500ms ease-in;
}

.carousel__slide {
  display: inline;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.carousel__image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.carousel__image--long {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -75px;
}

.carousel__button--right {
  right: -75px;
}

.carousel__button img {
  height: 100px;
}

.carousel__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  width: 30px;
  height: 4px;
  background: var(--grey);
  opacity: .75;
  margin: 5px 12px;
  cursor: pointer;
}

.carousel__indicator--semi {
  display: none;
}

.carousel__indicator.current-slide {
  background: var(--green);
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .carousel__image {
    width: 100%;
  }

  .carousel__image--long {
    object-fit: contain;
  }

  .carousel__indicator--semi {
    display: initial;
  }
}

/* Watch styles */

.watch-box {
  text-align: center;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Modal styles */

.modal-photo {
  position: fixed;
  text-align: center;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  display: none;
}

.modal-photo.is-open {
  display: block;
}

.modal-photo img {
  max-width: 100%;
  max-height: 100%;
  padding: 30px;
}

.modal-close {
  position: absolute;
  background: white;
  border: 0;
  border-bottom: 3px solid var(--green);
  right: 30px;
  top: 30px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  box-shadow: 3px 3px 6px var(--grey);
}



.modal-close::before, .modal-close::after {
  position: absolute;
  content: ' ';
  left: 20px;
  top: 4px;
  height: 33px;
  width: 3px;
  background-color: var(--grey);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::after, .modal-close:hover::before {
  background-color: var(--green);
}

@keyframes modalIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes modalOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* Main styles END */

/* Footer styles START */

footer {
  display: flex;
  margin-top: auto;
  justify-content: flex-end;
  background: var(--green);
}

footer p {
  color: white;
  text-align: center;
  padding-right: 15px;
}


/* Thicker mobile footer */
@media screen and (max-width: 1320px) {
 footer {
   padding: 3em;
 }
}

/* Footer styles END */
